---
http_interactions:
- request:
    method: get
    uri: https://api.thecatapi.com/v1/favourites?category_ids=&limit=3&order=Asc&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      x-api-key:
      - token [CATS_API_KEY]
  response:
    status:
      code: 200
      message: OK
    headers:
      pagination-count:
      - '13'
      pagination-page:
      - '1'
      pagination-limit:
      - '3'
      content-type:
      - application/json; charset=utf-8
      x-response-time:
      - 127ms
      x-cloud-trace-context:
      - '048752f26f8448ceb96ac356a192b3ce'
    body:
      encoding: UTF-8
      string: '[{"id":2138576,"user_id":"dccq5n","image_id":"ni9-V59Bg","sub_id":"omarps@gmail.com","created_at":"2021-10-31T02:03:49.000Z","image":{"id":"ni9-V59Bg","url":"https://cdn2.thecatapi.com/images/ni9-V59Bg.jpg"}},{"id":2138577,"user_id":"dccq5n","image_id":"pu5LUb7Bt","sub_id":"omarps@gmail.com","created_at":"2021-10-31T02:05:42.000Z","image":{"id":"pu5LUb7Bt","url":"https://cdn2.thecatapi.com/images/pu5LUb7Bt.jpg"}},{"id":2138578,"user_id":"dccq5n","image_id":"CW8s9pvnM","sub_id":"omarps@gmail.com","created_at":"2021-10-31T02:06:06.000Z","image":{"id":"CW8s9pvnM","url":"https://cdn2.thecatapi.com/images/CW8s9pvnM.jpg"}}]'
  recorded_at: Mon, 01 Nov 2021 02:15:15 GMT
recorded_with: VCR 6.0.0
