---
http_interactions:
- request:
    method: get
    uri: https://api.thecatapi.com/v1/favourites?limit=3&order=Asc&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      x-api-key:
      - token [CATS_API_KEY]
  response:
    status:
      code: 200
      message: OK
    headers:
      pagination-count:
      - '11'
      pagination-page:
      - '1'
      pagination-limit:
      - '3'
      content-type:
      - application/json; charset=utf-8
      x-response-time:
      - 136ms
      x-cloud-trace-context:
      - 193bd943f6709cd8e550c2736ccf1014
    body:
      encoding: UTF-8
      string: '[{"id":2102473,"user_id":"dccq5n","image_id":"1","sub_id":"challenge","created_at":"2021-09-20T14:49:03.000Z","image":{"id":"1","url":"https://cdn2.thecatapi.com/images/1.jpg"}},{"id":2102486,"user_id":"dccq5n","image_id":"1c","sub_id":null,"created_at":"2021-09-20T16:53:05.000Z","image":{"id":"1c","url":"https://cdn2.thecatapi.com/images/1c.gif"}},{"id":2138537,"user_id":"dccq5n","image_id":"g","sub_id":"example@gmail.com","created_at":"2021-10-29T23:58:05.000Z","image":{"id":"g","url":"https://cdn2.thecatapi.com/images/g.jpg"}}]'
  recorded_at: Sun, 31 Oct 2021 18:43:36 GMT
recorded_with: VCR 6.0.0
