---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/search?api_key=dc6zaTOxFJmzC&fmt=json&lang=en&limit=25&offset=0&q=kitty&rating=g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '10'
      X-Ratelimit-Remaining-Hour:
      - '7.5386111111111'
      X-Ratelimit-Limit-Day:
      - '50'
      X-Ratelimit-Remaining-Day:
      - '49'
      X-Response-Time:
      - 37ms
      X-Cachiness-Shield-Rule:
      - giphy_api_search_long_ttl
      X-Cachiness-Shield-Desired-Ttl:
      - 21600s
      X-Cachiness-Shield-Actual-Ttl:
      - '21600.000'
      X-Rule-Debug:
      - '1'
      X-Cachiness-Edge-Rule:
      - giphy_api_search_long_ttl
      X-Cachiness-Edge-Desired-Ttl:
      - 21600s
      X-Cachiness-Edge-Actual-Ttl:
      - '21600.000'
      X-Cachiness-Edge-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"gif","id":"cfuL5gqFDreXxkWQ4o","url":"https://giphy.com/gifs/cat-cool-cats-cfuL5gqFDreXxkWQ4o","slug":"cat-cool-cats-cfuL5gqFDreXxkWQ4o","bitly_gif_url":"http://gph.is/2I5xics","bitly_url":"http://gph.is/2I5xics","embed_url":"https://giphy.com/embed/cfuL5gqFDreXxkWQ4o","username":"Bubblepunk","source":"","title":"On
        My Way Goodbye GIF by Bubble Punk","rating":"g","content_url":"","tags":[],"featured_tags":[],"user_tags":[],"source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2018-03-04
        20:50:43","trending_datetime":"1970-01-01 00:00:00","images":{"original":{"height":"480","width":"480","size":"7275085","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=giphy.gif","mp4_size":"1155002","mp4":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy.mp4?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=giphy.mp4","webp_size":"1778974","webp":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy.webp?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=giphy.webp","frames":"80","hash":"31c2b38470e75fa7c207363e9a4f2ee3"},"downsized":{"height":"294","width":"294","size":"1492284","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy-downsized.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=giphy-downsized.gif"},"downsized_large":{"height":"480","width":"480","size":"7275085","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=giphy.gif"},"downsized_medium":{"height":"480","width":"480","size":"4802533","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy-downsized-medium.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=giphy-downsized-medium.gif"},"downsized_small":{"height":"158","width":"158","mp4_size":"178112","mp4":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy-downsized-small.mp4?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=giphy-downsized-small.mp4"},"downsized_still":{"height":"294","width":"294","size":"31363","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy-downsized_s.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=giphy-downsized_s.gif"},"fixed_height":{"height":"200","width":"200","size":"1247612","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/200.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=200.gif","mp4_size":"411792","mp4":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/200.mp4?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=200.mp4","webp_size":"640386","webp":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/200.webp?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=200.webp"},"fixed_height_downsampled":{"height":"200","width":"200","size":"108184","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/200_d.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=200_d.gif","webp_size":"64578","webp":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/200_d.webp?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=200_d.webp"},"fixed_height_small":{"height":"100","width":"100","size":"426703","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/100.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=100.gif","mp4_size":"162803","mp4":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/100.mp4?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=100.mp4","webp_size":"247568","webp":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/100.webp?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=100.webp"},"fixed_height_small_still":{"height":"100","width":"100","size":"6536","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/100_s.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=100_s.gif"},"fixed_height_still":{"height":"200","width":"200","size":"17486","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/200_s.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=200_s.gif"},"fixed_width":{"height":"200","width":"200","size":"1247612","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/200w.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=200w.gif","mp4_size":"411792","mp4":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/200w.mp4?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=200w.mp4","webp_size":"640386","webp":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/200w.webp?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=200w.webp"},"fixed_width_downsampled":{"height":"200","width":"200","size":"108184","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/200w_d.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=200w_d.gif","webp_size":"64578","webp":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/200w_d.webp?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=200w_d.webp"},"fixed_width_small":{"height":"100","width":"100","size":"426703","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/100w.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=100w.gif","mp4_size":"47553","mp4":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/100w.mp4?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=100w.mp4","webp_size":"247568","webp":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/100w.webp?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=100w.webp"},"fixed_width_small_still":{"height":"100","width":"100","size":"6536","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/100w_s.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=100w_s.gif"},"fixed_width_still":{"height":"200","width":"200","size":"17486","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/200w_s.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=200w_s.gif"},"looping":{"mp4_size":"3067896","mp4":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy-loop.mp4?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=giphy-loop.mp4"},"original_still":{"height":"480","width":"480","size":"100268","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy_s.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=giphy_s.gif"},"original_mp4":{"height":"480","width":"480","mp4_size":"1155002","mp4":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy.mp4?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=giphy.mp4"},"preview":{"height":"214","width":"214","mp4_size":"42724","mp4":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy-preview.mp4?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=giphy-preview.mp4"},"preview_gif":{"height":"100","width":"100","size":"48287","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy-preview.gif?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=giphy-preview.gif"},"preview_webp":{"height":"138","width":"138","size":"49216","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy-preview.webp?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=giphy-preview.webp"},"480w_still":{"height":"480","width":"480","size":"7275085","url":"https://media0.giphy.com/media/cfuL5gqFDreXxkWQ4o/480w_s.jpg?cid=e1bb72ffzlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&rid=480w_s.jpg"}},"user":{"avatar_url":"https://media4.giphy.com/avatars/Bubblepunk/E55XZI4qQ6I8.gif","banner_image":"https://media4.giphy.com/headers/Bubblepunk/F0nyfsiuGrZN.gif","banner_url":"https://media4.giphy.com/headers/Bubblepunk/F0nyfsiuGrZN.gif","profile_url":"https://giphy.com/Bubblepunk/","username":"Bubblepunk","display_name":"Bubble
        Punk","is_verified":true},"analytics_response_payload":"e=Z2lmX2lkPWNmdUw1Z3FGRHJlWHhrV1E0byZldmVudF90eXBlPUdJRl9TRUFSQ0gmY2lkPWUxYmI3MmZmemxzd3FwNzlib3E0YW1ubnc2ejl1dTFuYmJmb3N2Y3pmZng2MWhpOA","analytics":{"onload":{"url":"https://giphy-analytics.giphy.com/simple_analytics?response_id=zlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&event_type=GIF_SEARCH&gif_id=cfuL5gqFDreXxkWQ4o&action_type=SEEN"},"onclick":{"url":"https://giphy-analytics.giphy.com/simple_analytics?response_id=zlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&event_type=GIF_SEARCH&gif_id=cfuL5gqFDreXxkWQ4o&action_type=CLICK"},"onsent":{"url":"https://giphy-analytics.giphy.com/simple_analytics?response_id=zlswqp79boq4amnnw6z9uu1nbbfosvczffx61hi8&event_type=GIF_SEARCH&gif_id=cfuL5gqFDreXxkWQ4o&action_type=SENT"}}},{"type":"gif","id":"VbWQqBsdOqkAybTJ6f","url":"https://giphy.com/gifs/love-cute-kitty-VbWQqBsdOqkAybTJ6f","slug":"love-cute-kitty-VbWQqBsdOqkAybTJ6f","bitly_gif_url":"https://gph.is/g/aQO2gyR","bitly_url":"https://gph.is/g/aQO2gyR","embed_url":"https://giphy.com/embed/VbWQqBsdOqkAybTJ6f","username":"","source":"","tit[...]
