---
http_interactions:
- request:
    method: post
    uri: https://api.thecatapi.com/v1/favourites
    body:
      encoding: UTF-8
      string: '{"image_id":"YTvbh1DEh","sub_id":"example@gmail.com"}'
    headers:
      Content-type:
      - application/json
      x-api-key:
      - token [CATS_API_KEY]
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-response-time:
      - 135ms
      x-cloud-trace-context:
      - e744474593b1ea2a52544844f15a8e7f
    body:
      encoding: UTF-8
      string: '{"message":"SUCCESS","id":2138616}'
  recorded_at: Sun, 31 Oct 2021 17:54:32 GMT
recorded_with: VCR 6.0.0
