input[type="submit"] {
  border: 0;
  background-color: black;
  color: white;
}

.image {
  position: relative;
  margin-bottom: 1rem;
}

.image button {
  border: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  height: 2rem;
  background-color: rgba(0,0,0,0.6);
}

.search-form {
  padding: 1rem 1rem 0;
  display: flex;
  height: 2rem;
}

.search-form input[type="text"] {
  border-radius: 0;
  width: 100%;
  text-align: center;
}

main {
  padding: 1rem;
}
