.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
}

#nav li {
	float: left;
}

#nav li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
		border-right: 1px solid #ccc;
}

#nav li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
		border-right: 1px solid #ccc;
}
    
.selected {
  text-decoration: underline;
}
    
    
.header {
  margin: 2em;
}

.favorites {
  width: 1220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  width: 404px;
}

input {
  font-size: 2em;
  width: 300px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
}