.searchForm {
    margin: 0 auto;
    padding: 30px;
    width: 300px;
    text-align: right;
}

.searchForm input {
    padding: 20px;
    font-size: 1rem;
    width: 240px;
}
.searchForm button {
    margin: 20px auto;
    display: inline-block;
}
