---
http_interactions:
- request:
    method: post
    uri: https://api.thecatapi.com/v1/favourites
    body:
      encoding: UTF-8
      string: '{"image_id":"1","sub_id":"example@gmail.com"}'
    headers:
      Content-type:
      - application/json
      x-api-key:
      - token [CATS_API_KEY]
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      x-cloud-trace-context:
      - f3df63175e5fb3f418bad111814536ea
    body:
      encoding: UTF-8
      string: '{"message":"SUCCESS","id":2138537}'
  recorded_at: Sun, 31 Oct 2021 18:45:00 GMT
recorded_with: VCR 6.0.0
